@import url('https://fonts.googleapis.com/css?family=Dosis|Open+Sans');

$heading-font: 'Dosis', sans-serif;
$body-font: 'Open Sans', sans-serif;

$main-background-color: #FDFFFE;
$main-text-color: #051300;
$box-color-regular: #678E3D;
$box-color-voted: #007AB3;
$cta-main: #F71D30;
$cta-main-text: #FDFFFE;

body {
  background-color: $main-background-color;
  color: $main-text-color;
  padding: 5% 5%;
  font-family: $body-font;
  text-align: center;

  header {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    #logo {
      width: 90px;
      height: 35px;
    }

  }

  h1 {
    font-family: $heading-font;
    font-weight: bolder;
    text-align: center;
  }

  input {
    border: solid 1px black;
    padding: 5%;
    width: 89%;
    margin: 0 auto 3%;
  }

  input[type="submit"] {
    width: 100%;
    background-color: $cta-main;
    color: $cta-main-text;
    font-size: 18px;
    text-transform: uppercase;
  }

  select {
    border: solid 1px black;
    border-radius: 0;
    padding: 5%;
    width: 100%;
  }

  ul {
    padding-left: 0;

    li {
      list-style: none;
      margin-bottom: 3%;
    }

    .question {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;

      span {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .votes, .unvoted, .voted {
        width: 50px;
        height: 50px;
        line-height: 0.5;
        border: solid 1px black;
        color: white;
        padding: 1%;
      }

      .votes, .unvoted {
        background-color: $box-color-regular;
      }

      .voted, .unvoted {
        font-size: 80px;
      }

      .text {
        flex-grow: 2;
        border: solid 1px black;
        padding: 1% 3%;
      }

      .voted {
        background-color: $box-color-voted;
        padding: 1%;
      }

    }
  }
  


}

