body {
  background-color: #D3D3D3;
  text-align: center;
}

#host {
  font-size: 500%;
}

#current {
  font-size: 150%;
  font-family: 'Courier New', Courier, monospace;
}

#roomInput {
  font-family: 'Open Sans';
  font-size: 70%; 
  border: solid;
}

#createButton {
  font-family: 'Courier New', Courier, monospace;
  font-size: 200%;
}

#createInput {
  font-size: 200%;
  color: #007AB3;
}

#roomButton {
  font-size: 200%;
}

#roomName {
  font-family: 'Courier New', Courier, monospace;
  font-size: 150%;
}

#troll {
  height: 3%;
  width: 3%;
  border: solid;
}

